* {
    margin: 0;
}
@font-face {
    font-family: "verdeModerna";
    src: url(http://csszengarden.com/214/verdemoderna.woff);
}
.container {
    display: grid;
    grid-template-rows: repeat(6);
    grid-template-columns: 2fr 1fr;
}
h1::before {
    background-image: url(http://csszengarden.com/214/enso.svg);
    display: inline-block;
    position: relative;
    content: "";
    width: 130px;
    height: 130px;
    background-size: 100%;
    opacity: 1.0;
    top: 70px;
    margin: -20px 40px 0 0;
}
h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 50px;
    font-weight: lighter;
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}
.header1, .header2 {
    background-image: url(http://csszengarden.com/214/contours.png), url(http://csszengarden.com/214/noise.png), 
    url(http://csszengarden.com/214/gridlines.png),url(http://csszengarden.com/214/huntington.jpg);
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
    background-attachment: fixed, fixed, fixed, scroll;
}
/* transform: scale(1.2); */
.header2 {
    text-align: center;
    /* background-position: right top; */
}
h2 {
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    color: rgba(255,255,255,0.6);
    text-align: center;
    margin-bottom: 110px;
    margin-left: -50px;
    display: block;
}
h2::before {
    content: " ";
    padding: 50px;
}
h3 {
    font: 28px 'Julius Sans One', sans-serif;
    color: #2e484c;
    text-indent: 125px;
    margin-top: 0.5em;
}
p {
    line-height: 2;
    display: inline-block; 
    margin-left: 8em;
    margin-right: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: 'Libre Baskerville', sans-serif;
    color: #325050;
}
.authors {
    background-color: #e5ede8;
}
.authorsList > li {
    list-style-type: none;
    margin-top: 70px;
    margin-left: 20px;
    border-bottom: 2px;
}
.by {
    font-style: italic;
    text-transform: lowercase;
}
.design {
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
    font-size: 20px;
}
.designer {
    text-decoration: none;
}
hr {
    margin-right: 100;
}
.blank {
    background-color: #e5ede8;
}
.paragraph1 {
    margin-top: 3em;
}
.paragraph2 {
    background-image: url(http://csszengarden.com/214/contours-opaque.png), url(http://csszengarden.com/214/gridlines-opaque.png), url(http://csszengarden.com/214/bamboo.png);
    background-repeat: repeat, repeat, no-repeat;
    background-color: rgba(138,188,159,0.5);
    background-size: auto, auto, cover;
    background-attachment: scroll, scroll, fixed;
}
.links {
    background-color: rgba(105, 160, 128, 0.5);
    background-image: url(http://csszengarden.com/214/contours-opaque.png),url(http://csszengarden.com/214/gridlines-opaque.png), url(http://csszengarden.com/214/bamboo.png);
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
    background-attachment: scroll, scroll, fixed;
}
.links > ul > li {
    margin-top: 50px;
    text-decoration: none;
    list-style-type: none;
}
.footer1 {
    background-image: url(http://csszengarden.com/214/contours.png),url(http://csszengarden.com/214/gridlines.png), url(http://csszengarden.com/214/noise.png), url(http://csszengarden.com/214/koi.jpg);
    background-attachment: fixed, fixed, fixed, scroll;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
}




.footer1, .footer2 {
    grid-column: 1 / -1;
    text-align: center;
}
@media (max-width: 900px){
    .authors {
        grid-row: 9;
    }
    .links {
        grid-row: 10;
    }
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10);
    }
}