* {
    margin: 0;
    background-color: rgb(21, 102, 32);
    /* #fff; */
}


@font-face {
    font-family: "Libre Baskerville-regular";
    src: url(fonts/Libre_Baskerville-Reular.ttf);
}

@font-face {
    font-family: "Libre Baskerville-Italic";
    src: url(fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf)
}

@font-face {
    font-family: "verdemoderna";
    src: url(fonts/verdemoderna.woff);
}
.container {
    display: grid;
    grid-template-rows: repeat(6);
    grid-template-columns: 2fr 1fr;
}
.container > div {
    border: solid black 1px;
}
h1 {
    font-family: 'Julius Sans One', sans-serif;
    font: 40px;
    font-weight: lighter;
    color: white;
    text-align: center;
}
.header1 > img{
    height: 80px;
    width: 80px;
}
h2 {
    font: 20px;
    font-style: italic;
    font-weight: lighter;
    color: rgba(255,255,255,0.6);
    text-align: center;
}
h3 {
    font: 28px 'Julius Sans One', sans-serif;
    color: #2e484c;
    text-indent: 110px;
    margin-top: 0.5em;
}
p {
    line-height: 2;
    display: inline-block; 
    margin-left: 7em;
    margin-right: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: 'Libre Baskerville', sans-serif;
}
.by {
    
    font-style: italic;
    text-transform: lowercase;
}
.design {
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
    
}
.designer {
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
}




.footer1, .footer2 {
    grid-column: 1 / -1;
    text-align: center;
}
@media (max-width: 900px){
    .authors {
        grid-row: 9;
    }
    .links {
        grid-row: 10;
    }
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10);
    }
}